### CMake ###
cmake-build-*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Test resources ###
**/test/resources

### Output directories ###
/out

### LaTeX-related files ###
report/auxil
report/out
*.pdf
*.synctex*
*.aux
*.log
*.out

### Image-relates files ###
Thumbs.db
*.ai
