# Signal this is the root directory of the project
config.stopBubbling = true

# Change the name of the logger field
lombok.log.fieldName = LOGGER

# Set nullness default annotations
lombok.addNullAnnotations = jetbrains
lombok.nonNull.flagUsage = WARNING

# Do not add @SuppressWarning("all") by default
lombok.addSuppressWarnings = false

# Discourage builders
lombok.builder.flagUsage = WARNING

# Discourage non-Sl4j loggers
lombok.log.custom.flagUsage = WARNING
lombok.log.apacheCommons.flagUsage = WARNING
lombok.log.flogger.flagUsage = WARNING
lombok.log.jbosslog.flagUsage = WARNING
lombok.log.javaUtilLogging.flagUsage = WARNING
lombok.log.log4j.flagUsage = WARNING
lombok.log.log4j2.flagUsage = WARNING
lombok.log.xslf4j.flagUsage = WARNING

# Discourage use of var and val
lombok.val.flagUsage = ERROR
lombok.var.flagUsage = WARNING

# Discourage Sneaky throws
lombok.sneakyThrows.flagUsage = ERROR

# Discourage synchronization
lombok.synchronized.flagUsage = ERROR

# Discourage the use of @With
lombok.with.flagUsage = ERROR

# Discourage some experimental features
lombok.accessors.flagUsage = WARNING
lombok.fieldDefaults.flagUsage = WARNING
lombok.delegate.flagUsage = WARNING
#lombok.extensionMethod.flagUsage = WARNING
lombok.onX.flagUsage = ERROR
lombok.helper.flagUsage = ERROR
lombok.fieldNameConstants.flagUsage = WARNING
lombok.superBuilder.flagUsage = WARNING
